.satu {
	color: #f56954;
}

.dua {
	color: #00a65a;
}

.tiga {
	color: #f39c12;
}

.empat {
	color: #00c0ef;
}

.lima {
	color: #3c8dbc;
}

.enam {
	color: #CCFF33;
}

.tujuh {
	color: #0000ff;
}

.delapan {
	color: #FF0000;
}

.sembilan {
	color: #40ff00;
}

.sepuluh {
	color: #336600;
}

.sebelas {
	color: #8D6E63;
}

.duabelas {
	color: #A569BD;
}

.tigabelas {
	color: #CC99FF;
}

.empatbelas {
	color: #2196F3;
}

.limabelas {
	color: #78909C;
}

.enambelas {
	color: #F06292;
}